# Terraform
**/.terraform/*
secret.tfvars
terraform.rc
*.tfstate
*.tfstate.*
*tfplan*
tf.apply.out
tf.plan.out
.terraform.lock.hcl
.terraform.lock.hcl
.terraformrc
terraform.rc

# other
**/*.pyc
*.audit
*.bak*
*.crt
*.csr
*.csv
*.debug
*.err
*.key
*.log
*.out
*.p7b
*.pem
*.swp

*.xlsx
*.zip
*_override.tf
*_override.tf.json
*hclic
*pass
*passwd
*password
*snap

*tmp*
*token
.init.json
.init.out
.init.txt

__pycache__
audit
init
init.json
init.out
init.txt
license*
override.tf
override.tf.json
secret.tfvars

